@import url(reset-min.css);
@import url(fonts.css);

body {
    font-family: "DejaVu Sans Condensed", sans-serif;
    font-size: 9pt;
    width: 50em;
    margin: 1em auto 1em auto;
}

h1 {
    font-family: "DejaVu Sans", sans-serif;
    font-weight: normal;
    color: #fff;
    background: #272727;
    background: -webkit-gradient(linear, center top, center bottom,
                   from(#303030), to(#272727));
    background: -moz-linear-gradient(top, #303030, #272727);
    text-align: center;
    text-shadow: 0 1px 0 #777;
    border-radius: 0.28em;
    -moz-border-radius: 0.28em;
    width: 5.8em;
    padding: 1pt 1pt 3pt 1pt;
    border: #222222;
}

h1 .j {
    font-family: "DejaVu Sans Oblique", sans-serif;
    color: #26d;
    text-shadow: 0 1px 0 #137;
}

p {
    margin: 1em 0 1em 0;
    line-height: 1.3em;
    word-spacing: 0.1em;
    letter-spacing: 0;
}

a {
    color: #152288;
}

a:visited {
    color: #001144;
}
