@import url(fonts.css);

.title {
    font-family: "DejaVu Sans", sans-serif;
    font-weight: normal;
    font-size: 32pt;
    color: #fff;
    background: #272727;
    background: -webkit-gradient(linear, center top, center bottom,
                   from(#303030), to(#272727));
    background: -moz-linear-gradient(top, #303030, #272727);
    text-align: center;
    text-shadow: 0 1px 0 #777;
    border-radius: 0.28em;
    -moz-border-radius: 0.28em;
    width: 5.8em;
    padding: 1pt 1pt 3pt 1pt;
    border: #222222;
    margin: 1.5em auto 2pt auto;
}

.title .j {
    font-family: "DejaVu Sans Oblique", sans-serif;
    font-style: italic;
    color: #26d;
    text-shadow: 0 1px 0 #137;
}

.nav {
    text-align: center;
    font-family: "DejaVu Sans", sans-serif;
    font-size: 10pt;
}

.nav a {
    color: #333;
    text-decoration: none;
}
