@import url(common.css);

h1 {
    font-size: 20pt;
}

h2 {
    font-family: "Droid Serif Regular", serif;
    font-weight: normal;
    font-size: 22pt;
    color: #444444;
    margin: -1.2em 0em 0em 5.7em;
    padding: 0pt;
}

pre {
    font-family: "DejaVu Mono", monospace;
    font-size: 9pt;
    background: #2f2f2f;
    color: #eee;
    padding: 0.7em;
    border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

.highlight .nb {
    color: #cc7755;
}

.highlight .nf {
    color: #6699ee;
    font-weight: bold;
}

.highlight .s {
    color: #99ee44;
    font-style: italic;
}

.highlight .mi {
    color: #ee77ee;
}
