@font-face {
    font-family: "DejaVu Sans";
    src: url(../fonts/DejaVuSans.ttf);
}

@font-face {
    font-family: "DejaVu Sans Oblique";
    src: url(../fonts/DejaVuSans-Oblique.ttf);
}

@font-face {
    font-family: "DejaVu Mono";
    src: url(../fonts/DejaVuSansMono.ttf);
}

@font-face {
    font-family: "Droid Serif Regular";
    src: url(../fonts/DroidSerif-Regular.ttf);
}
